body {
  background-color: #121212;
  color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #f8f9fa;
}

.card, .form-control {
  background-color: #1f1f1f;
  border: none;
}

.form-control::placeholder {
  color: #adb5bd;
}

